DATABASE_URL="postgresql://postgres:postgres@localhost:5432/postgres"
SESSION_SECRET="super-duper-s3cret"
VAPID_PUBLIC_KEY="BP9D3dEx-227MYow3bK5oPjr9hJ5lVXg9XH5PspXlwfTIith9nNhf-Dmd6gstie8luqGWvA6O_dstWg1YjyKUKs"
VAPID_PRIVATE_KEY="R4wnW2ysGmhrj8HbTDOJgAr4lyM5OHgN42x6Gg0xoHk"
