@tailwind base;

@layer base {
  body {
    -webkit-tap-highlight-color: transparent;
  }
}

.dark {
  color-scheme: dark;
}

.group-select:active:not(:focus-within) .active-container {
  @apply bg-white/10;
}

/* Placeholder (at the top) */
.ProseMirror p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@tailwind components;
@tailwind utilities;
